body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

#pdf-container {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  margin-bottom: 20px;
}

canvas {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  max-width: 100%; /* largeur max = écran */
  height: auto;    /* conserve les proportions */
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.2em;
}
